.root {
  padding-bottom: 4rem;
}

.wrap {
  display: block;
  margin-bottom: 21px;
  text-decoration: none;
  cursor: pointer;
}

.device:hover {
  background: var(--accents-1);
  transition: ease 0.15s background;
}

.submit {
  width: 100%;
}

.submitbutton {
  display: inline-block;
  padding: 0.35em 1.2em;
  /* border: 0.15em solid #ffffff; */
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  /* box-sizing: border-box; */
  text-decoration: none;
  font-family: "Ariel", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.submitbutton:hover {
  color: #000000;
  background-color: #d6facf;
}
